<link rel="stylesheet" type="text/css" href="main.css">

<div class="grid">
    <% @@cakes.each do |cake| %>

    <div id="grid-bg">
        <h2> <%= cake.name %> </h2>
        <% cake.price.each do |price| %>
        <%= price %>
        <% end %>

        <h3> <%= cake.description %> </h3>
        <img class="product-img" src=<%= cake.img %>> 
    </div>

    <% end %>
</div>