<div class="numberform">
    <h2> Type in your mobile phone number below to receive an SMS of our store location, hours, and product catalog <h2>
    <form id="formid" action="/send_text" method="POST">
        <input type="text" name="number" placeholder="Enter phone here..."><br>
        <input type="submit" value="Submit">
    </form>
</div>