<link rel="stylesheet" type="text/css" href="main.css">

<div class="grid">
    <% @@cookies.each do |cookie| %>
        
        <div id="grid-bg">
            <div class="products">
            <h2> <%= cookie.name %> </h2>
            <h3> <%= cookie.price %> </h3>
            <h3> <%= cookie.description%> </h3>
            <img class="product-img" src=<%= cookie.img %>/>

        </div>

    </div>
    <% end %>
</div>