<div class='home-grid'>
    <div class="container">
        <img src="cookies.jpg" width=400px height=500px class="image">
        <div class="middle">
            <a href="/cookies">
                <button class="button"> Cookies </button>
            </a>
        </div>
    </div>

    <div class="container">
        <img src="cake.jpg" width=400px height=500px class="image">
        <div class="middle">
            <a href="/cake">
                <button class="button"> Cake </button>
            </a>
        </div>
    </div>

    <div class="container">
        <img src="muffin.jpg" width=400px height=500px class="image">
        <div class="middle">
            <a href="/muffins">
                <button class="button"> Muffins </button>
            </a>
        </div>
    </div>
</div>

<div id="directions">
    <h3> <em> Move your mouse over the images to view our delicious goods! </em> </h3>
</div>

</body>