<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="main.css">
<title>Jo's Bakery</title>
</head>

<body>
<h1 id='title'> Baked By Jomir </h1>
<div class='img-grid'> 
    <img src="cookies.jpg" width=400px height=400px>
    <img src="cake.jpg" width=400px height=400px>
    <img src="muffin.jpg" width=400px height=400px>
</div>
</body>

</html>