<link rel="stylesheet" type="text/css" href="main.css">

<div class="grid">
    <% @@muffins.each do |m| %>
        
        <div id="grid-bg">
            <div class="products">
            <h2> <%= m.name %> </h2>
            <h3> <%= m.price %> </h3>
            <h3> <%= m.description%> </h3>
            <img class="product-img" src=<%= m.img %>/>

        </div>

    </div>
    <% end %>
</div>