<link rel="stylesheet" type="text/css" href="main.css">

<div class="grid">
    <% @@muffins.each do |m| %>

    <div id="grid-bg">
        <div class="products">
            <h2> <%= m.name %> </h2>
            <h3> <%= m.description %> </h3>
            <h3> <%= m.price %> </h3>
            <img class="product-img" src=<%= m.img %> />

        </div>

        <footer>
            <div class="navbar" id="myNavbar">
                <a href="/cookies">Cookies</a>
                <a href="/cake">Cake</a>
                <a href="/muffins">Muffins</a>
                <a href="javascript:void(0);" class="icon" onclick="myFunction2()">&#9776;</a>
            </div>
        </footer>

    </div>
    <% end %>
</div>