<link rel="stylesheet" type="text/css" href="main.css">

<div class="grid">
    <% @@muffins.each do |muffin| %>
    <div id="grid-bg">
        <h1><%= muffin.name %></h1>
        <h2> <%= muffin.price %> </h2>
        <h2> <%= muffin.description %> </h2>
    </div>


    <% end %>
</div>