<link rel="stylesheet" type="text/css" href="main.css">

<div class="grid">
    <% @@muffins.each do |muffin| %>
    <div id="grid-bg">
        <h2> <%= muffin.name %> </h2>
        <h3> <%= muffin.price %> </h3>
        <h3> <%= muffin.description %> </h3>

    </div>
        <img src=<%= muffin.img  %>/>


    <% end %>
</div>